/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.ui.button.form-button {
  background-color: #4682B4;
}

.ui.input.form-button.input-button {
  background-color: #4682B4;
}

.centered-container{
  text-align: center;
}

.ui.button.view-closet-button{
  background-color: #4682B4;
}

.ui.cards.friend-card {
  min-height: 20em;
}

.ui.card.image, .ui.cards.card.image {
  object-fit: contain;

}
.ui.image.card-image {
  object-fit: contain;
}

.content-margin{
  margin: 3em;
}

#profile-header{
  width: 100vw;
  text-align: center;
}

.ui.cards.card-content-margin{
  margin-bottom: 2em;
  margin-top: 2em;
}

.ui.form.form-width{
  width: 50vw;
}

.ui.input.submit-button {
  width: 20px;
}